<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
{% block content %}
{% include 'head.html' %}
{% include 'header.html' %}
<div id="main">
  <div id="wrapper">
    <div id="content">
      <div id="homeContent">
        <h1>NEW PAGE FOR MAP WITH TARGET {{body}}</h1>
	    <table id="data">
	      <thead>
		<th>Project Name</th>
		<th>Target</th>
		<th>Scale</th>
		<th>Author</th>
		<th>Status</th>
	      </thead>
	    </table>
      </div>
    </div>
  </div>
  <img src="{{url_for('static', filename = 'images/layout/white-box-bottom.png')}}" />
</div>
{% include 'footer.html' %}
{% endblock %}
</html>

<script>
  var json;
    //url = "http://astrocloud-dev.wr.usgs.gov/dataset/data/pgm/{{body}}/WFS?request=getFeature&service=WFS&version=1.1.0&outputformat=application/json"
  $(document).ready(function(){
    $.ajax({
    type : 'GET',
    url : "{{url_for('static',filename='json/'+body+'.json')|safe}}", 
    success : function(result){
        json = JSON.parse(result);
	for (var i = 0; i < json.features.length; i++){
	      var row = "<tr>"
                   + "<td>" + json.features[i].name+ "</td>"
                   + "<td>" +" " + "</td>"
                   + "<td>" +" " + "</td>"
			    + "<td>" + json.features[i].properties['Author Last Name']+ ", "
			    + json.features[i].properties['Author First Name']+ "</td>"
                   + "<td>" + json.features[i].properties.Status + "</td>"
                   + "</tr>";
            $('#data').append(row);
	}
	$('#data').DataTable();
    }
    });
    });
</script>
