body 
{
   font-family: Arial, sans-serif;
   font-size: 12px;
   background: #000 url(..//images/layout/mars_background.jpg) top right no-repeat;
   padding: 0px;
   margin: 0px;
   height: 100%;
}
#logo {
	float: left;
}
#usgs-nav {
	float: right;
	margin-right: 10px;
}
#usgs-nav-background {
	z-index: 10;
}
#usgs-nav-links {
	position: absolute;
	z-index: 20;
	top: 5px;
	right: 18px;
}
.usgs-nav-link {
	margin-right: 10px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}
.usgs-nav-link:hover {
	color: #ccc;
}
#main, #main-nav {
   clear: both;
   margin-left: auto;
   margin-right: auto;
   width: 950px;
}
#astro-title {
	position: absolute;
	margin: -3px 0px 0px 30px;
	z-index: 20;
}
#astro-title img {
	z-index: 20;
}
#main-nav-background {
	z-index: 10;
	padding: 0px;
	padding-top: 24px;
	margin: 0px;
	height: 41px;
	background: url(..//images/layout/nav-bar.png) bottom right no-repeat;
}
#main-nav-background img {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
#wrapper {
	width: 950px;
	height: 100%;
	background: #fff;
}
#content {
	height: 100%;
	padding: 6px;
}
#astropediaForm {
	background: #ccc;
	padding: 10px;
	width: 200px;
	margin: 10px;
}
#footer {
	bottom: 5px;
	clear: both;
	width: 100%;
	text-align: center;
	color: #fff;
}
#footer a {
	font-size: 12px;
	text-decoration: none;
	color: #fff;
}
#footer a:hover {
	color: #ccc;
}
/** DROP DOWN MENUS **/
#main_menu {
  margin:    0px;
  padding:   0px;
  height:   40px;
}
#main_menu li {
  float:      left;
  list-style: none;
}

#main_menu li a {
  display:        block;
  padding:     5px 12px;
  color:           #fff;
  text-decoration: none;
  font-size:      1.2em;
}

#main_menu li a:hover {
  color:        #5d9bb0;
  text-decoration: none;
  background: url(..//images/layout/highlighted_menu_item.jpg) repeat-x;
}
#main_menu li ul {
  margin: 0px 0px 0px 0px;
  padding:           0;
  position:   absolute;
  visibility:   hidden;
  display:       block;
  background: #000 url(..//images/layout/sub_menu_background.jpg) repeat-x;
}

#main_menu li ul li {
  display:     list-item;
  clear:            both;
}

#main_menu li ul li a { 
  padding:   2px 10px;
  width:         auto;
  font-size:    1.0em;
}
#main_menu li ul li a:hover { 
  background: none;
  font-size:    1.0em;
}

#main_menu li ul li:hover {
  color:    #5d9bb0;
  background: none;
  
}
