/*** NAV Menu ***/
#main_menu, #main_menu * {
  margin:      0;
  padding:    0;
  list-style:    none;
}
#main_menu {
  line-height:  1.0;
}
#main_menu ul {
  position:    absolute;
  top:      -999em;
  width:      15em; /* left offset of submenus need to match (see below) */
    z-index:    99;
}
#main_menu * {
  z-index:    99;
}
#main_menu ul li {
  width:      100%;
}
#main_menu li:hover {
  visibility:    inherit; /* fixes IE7 'sticky bug' */
}
#main_menu li {
  float:      left;
  position:    relative;
}
#main_menu a {
  display:    block;
  position:    relative;
}
#main_menu li:hover ul,
#main_menu li.sfHover ul {
  left:      0;
  top:      2.5em; /* match top ul list item height */
  z-index:    99;
}
ul#main_menu li:hover li ul,
ul#main_menu li.sfHover li ul {
  top:      -999em;
}
ul#main_menu li li:hover ul,
ul#main_menu li li.sfHover ul {
  left:      15em; /* match ul width */
  top:      0;
}
ul#main_menu li li:hover li ul,
ul#main_menu li li.sfHover li ul {
  top:      -999em;
}
ul#main_menu li li li:hover ul,
ul#main_menu li li li.sfHover ul {
  left:      15em; /* match ul width */
  top:      0;
}

/*** Nav Look and Feel ***/
#main_menu {
  float:      left;
}
#main_menu a {
  padding:     .75em 1em;
  text-decoration:none;
}
#main_menu a, #main_menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
/*  color:      #13a;*/
  color: #fff;
}
#main_menu a:hover {
  color: #478AED;
}
#main_menu li {
  background: transparent;
}

#main_menu li:hover, #main_menu a:focus, #main_menu a:hover, #main_menu a:active {
  outline:    0;
}

#main_menu ul {
  background: #000 url(/images/layout/sub_menu_background_horz.jpg) repeat-y;
}


/*CUSTOMIZATIONS*/

#main_menu ul li.has_children, #main_menu ul .has_children:hover { 
  background: transparent  url('/images/layout/nav_arrow_right.png') no-repeat center right;
}
#main_menu > li li.has_children:hover { 
  background: transparent  url('/images/layout/nav_arrow_right_lighter.png') no-repeat center right;
}
/*#main_menu > li.has_children > a {
 background: transparent url('/images/layout/nav_arrow_down_lighter.png') no-repeat center right;
 padding-right: 15px; 
}
/*#main_menu > li.has_children:hover > a {
 background: transparent url('/images/layout/nav_arrow_down.png') no-repeat center right;
}
*/
#main_menu > li li {
  border-bottom: dotted 1px #484A4D;
}
#main_menu > li li:last-child {
  border-bottom: none;  /*Dont show the border on the last element*/
}
